header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

h1 {
  font-size: 3rem;
  color: rgb(213, 53, 53);
  letter-spacing: 2px;
}
