.conteiner {
    background-color: #181818; 
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    font-family: 'Arial', Helvetica, sans-serif;
    color: #b0c4de; 
    min-height: 100vh;
    flex-direction: column; 
}
  
h2 {
color: rgb(255, 255, 255); 
font-size: 2rem;
font-weight: 700;
margin-bottom: 20px;
text-align: center;
}

.lista-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 20px;
}

